body{
  margin:0px;
  overflow-x: hidden;
  font-family: "Oxygen", sans-serif;
 /*  background-image: url(https://static9.depositphotos.com/1000111/1137/i/600/depositphotos_11371387-stock-photo-paper-texture.jpg); */
}

.topnav{
  display: flex;
  width: 100%;
  background-image: linear-gradient(90deg,#213d89,#2151b3,#1941c4);
  align-items: center;
  border-bottom-left-radius: 43%;
  border-bottom-right-radius: 43%;
  box-shadow: 0 -4px 8px 7px rgb(0, 0, 0, 0.7);
}

.site-title{
  background-image: linear-gradient(90deg,#4d78ef,#709df7,#7ed4fd);
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
  font-size: 50px;
  text-decoration: underline;
  padding: 120px;
  margin: auto; 
}
#searchbar{
  font-size: x-large;
  height:50px;
  width: 300px;
  position: relative;
  display: flex; 
  align-items: center;
  background-color: white;
  border-style: solid;
  border-color: black;
  border-radius: 10px;
  margin: auto;
  top: 150px;
  
}
input{
  outline: none;
  border-radius: 10px;
  font-size: x-large;
  border: none;
  width: 250px;
  height: 50px;
  padding: 0px;
}

.note{
  display: inline-block ;
  position: absolute;
}
.con{
 display: inline-block;
 width: 185px;
 margin: 20px;
 padding: 20px;
 margin-bottom: 30px;
 background-color: gray;
 border-radius: 10px;
}

.container{
  display: flex;
  justify-content: center;

}

.humborgir{
  background-color: transparent;
  border: none;
  font-size: x-large;
  position: absolute;
  top: 15px;
  left: 15px;
  z-index: 1;
}

#menu-con{
  position: absolute;
   display: none; 
  flex-direction: column;
  background-color: rgba(206, 206, 206, 0.9);
  padding: 5%;
  height: fit-content;
  top:0px;
  justify-content: start;
  border-bottom-right-radius: 15px;
  
}

.menu-item{
  display: inline-block;
   padding-bottom: 50%; 
  background-color: transparent;
  border: none;
  font-size: x-large;
}

.container{
  display: none; 
  max-width: 400px;
  margin: 0 auto;
  padding: 20px;
  background-color: #fff;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  margin-top: 100px;
}

h2 {
  text-align: center;
}

input[type="text"], input[type="password"] {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  box-sizing: border-box;
  border-radius: 4px;
}

input[type="submit"] {
  width: 100%;
  background-image: linear-gradient(90deg,#213d89,#2151b3,#1941c4);
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.form-group {
  margin-bottom: 20px;
}
.show-search{
  padding-left: 1%;
  font-size: 35px;
}

.bottom-nav{
  background-image: linear-gradient(90deg,#213d89,#2151b3,#1941c4);
  position: fixed;
  width: 100%;
  height: 100px;
  bottom: 0px;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.p1{
  display: inline-block;
  padding-left: 5px;
}

.bottom-nav-item{
  font-size: 25px;
  transition: font-size 0.3s ease;
}

.bottom-nav-item:hover {
  font-size: 1.2em;
}

.back-button{
  position: absolute; 
  right:0;
  border: none;
  font-size: 35px;
  margin-right: 1%;
  background-color: transparent;
}

.about-us{
  display: none;
}

.about-us-title{
  text-align: center;
}

.about-us-text{
  margin: auto;
  text-align: center;
  width: 80%;
}

@media screen and (max-width: 600px){
  .site-title{
    font-size: 35px;
  }
   .bottom-nav-item{
    font-size: 15px;
  } 
  .back-button{
    font-size: 20px;
  }
  .show-search{
    font-size: 20px;
  }

}

@media screen and (min-width: 600px) and (max-width: 1200px ){
  .bottom-nav-item{
    font-size: 20px;
  }
  .back-button{
    font-size: 25px;
  }
  .show-search{
    font-size: 25px;
  }

}
