body{
  margin:0px;
  overflow: hidden;
}

.topnav{
  display: flex;
  width: 100%;
  background-image: linear-gradient(90deg,#213d89,#2151b3,#1941c4);
  align-items: center;
  border-bottom-left-radius: 43%;
  border-bottom-right-radius: 43%;
  box-shadow: 0 -4px 8px 7px rgb(0, 0, 0, 0.7);
}

.site-title{
  background-image: linear-gradient(90deg,#4d78ef,#709df7,#7ed4fd);
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
  font-size: 50px;
  text-decoration: underline;
  padding: 120px;
  margin: auto; 

  
  
  
}
#searchbar{
  font-size: x-large;
  height:50px;
  width: 300px;
  position: relative;
  display: none;
  /* display: flex; */
  align-items: center;
  background-color: white;
  border-style: solid;
  border-color: black;
  border-radius: 10px;
  margin: auto;
  top: 150px;
  
}
input{
  outline: none;
  border-radius: 10px;
  font-size: x-large;
  border: none;
  width: 250px;
  height: 50px;
  padding: 0px;
}

.note{
  display: inline-block ;
  position: absolute;
}
.con{
 display: inline-block;
 width: 185px;
 margin: 20px;
 padding: 10px;
 margin-bottom: 30px;
 background-color: gray;
 border-radius: 10px;
}

.container{
  display: flex;
  justify-content: center;

}

.humborgir{
  background-color: transparent;
  border: none;
  font-size: x-large;
  position: absolute;
  top: 15px;
  left: 15px;
  z-index: 1;
}

#menu-con{
  position: absolute;
   display: none; 
  flex-direction: column;
  background-color: lightgray;
  padding: 5%;
  height: 100%;
  top:0px;
  justify-content: center;
}

.menu-item{
  display: inline-block;
  padding-bottom: 60%;
  background-color: transparent;
  border: none;
  font-size: x-large;
  
}


